.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

.assignMessage{
    width: 208px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.signUpWithdrawButton {
    background: #2EC721;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 130px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}