body {
    margin: 0;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;

}
.registration section,
.left-img section{
    overflow: hidden;
    margin: 0;
}
.left-img img {
    width: 25vw;
    height: 100vh;
    opacity: 70%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.registerHeader {
    display: flex;
    justify-content: center;
    padding: 0;

}

header img {
    width: 200px;
}

h1 {
    color: #B0ADAD;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.columns {
    display: flex;
}

.registration button.join {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;

}

.background-img{
    display: none;
}
.registrationColumn {
    text-align: center;
}

.errorMessage{
    color: red;
}

