body {
    margin: 0;
}
main{
    overflow-x: auto;
}
.pass section {
    margin: 30px 90px;
    overflow-x:auto;
}

.mobile-header {
    display: none;
}
.successPayment{
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid #2EC721;
    border-radius: 12px;
    width: 500px;
    height: 300px;
    font-size: 38px;
    background-color: #2EC721;
}
.successPayment p{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.passRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin-top: 1px;
}

#pass-1
{
    border: 1px solid #2EC721;
    width: 200px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.pass button {
    background: #2EC721;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 150px;
    margin-bottom: 20px;
    color: white;
}

.pass button i {
    margin-left: 2px;
}

@media only screen and (max-device-width: 420px) {
    .base-container {
        overflow: auto;
        margin: 10px;
    }

    .passRow {
        display: grid;
        margin-top: 100px;
        gap: 20px;
        align-items: center;
    }

    #pass-1{
        width: 350px;
        height: 530px;
    }
    h2{
        font-size: 47px;
    }
    h3{
        font-size: 35px;
    }
    .pass button i {
        font-size: 30px;
    }
    .pass button {

        height: 60px;
        width: 260px;
        font-size: 35px;

    }
}